<section class="pt-5 pb-5">
  <div class="container">

    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#!" class="btn btn-primary">Button</a>
      </div>
    </div>


    <!-- <div class="row">
      <div class="col-12">
        <h3 class="mb-3">Card Display</h3>
      </div> -->

      <!-- Use an *ngFor loop to iterate through all items and display the cards -->
      <!-- <div class="col-md-4 mb-3" *ngFor="let item of items">
        <div class="card custom-card">
          <img class="img-fluid" [src]="item.picture" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">{{ item.firstName }} {{ item.lastName }}</h4>
            <p class="card-text">{{ item.profession }}</p>
            <p class="card-text">{{ item.email }}</p>
          </div>
        </div>
      </div>
    </div>-->
  </div>



</section>


