
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <style>
    /* Ajoutez ici votre style personnalisé */
    .navbar {
      background-color: #f4f7fa;
    }
  </style>

<!-- Navbar avec Bootstrap -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../assets/store.jpg" width="40" alt="Angular Logo">
        Welcome
      </a>
      <!-- Boutons à droite -->
      <div class="navbar-nav ml-auto">
        <a href="home" class="btn btn-light mx-2">Account</a>
        <a href="f" class="btn btn-light mx-2">Fournisseur</a>
        <a routerLink="/produits" class="btn btn-light mx-2">List Produits</a>
                <!-- Ajoutez autant de boutons que nécessaire -->
      </div>
    </div>
  </nav>


