
      /* Style for the rectangle */
      .rectangle {
        border: 1px solid #ccc;
        padding: 20px;
        width: 300px;
        margin: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }

      /* Style for the button */
      .rectangle button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
      }

      .rectangle button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }

      /* Style for the list */
      .rectangle ul {
        list-style-type: none;
        padding: 0;
      }

      /* Style for list items */
      .rectangle li {
        margin-bottom: 5px;
      }



/* // */
.form-group {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 150px; /* Ajustez la largeur en fonction de vos besoins */
}

input {
  width: 200px; /* Ajustez la largeur en fonction de vos besoins */
}
